<div class="row" >
  <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-1 col-xs-offset-0 col-lg-6 col-md-6 col-sm-10 col-xs-12">

    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="item in vm.users">
            <td>
              <img class="img-rounded" ng-src="{{item.imagepath}}" width="60px" height="60px">
            </td>
            <td>
              <a href="#/info/{{item.username}}">{{item.displayname}}</a>
              <p ng-bind="item.summary"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
