<div class="row">
    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-sm-offset-0 col-lg-2 col-md-3 col-sm-3 col-xs-12">

        <form method="post" name="messageForm" ng-submit="vm.send()">
            <div class="form-group text-center">
                <h4>{{vm.user.displayname}}</h4>
                <img class="img-rounded img-responsive center-block" ng-src="{{vm.user.imagepath}}" style="max-height:150px; max-width:150px">
                <small><i>{{vm.user.summary}}</i></small><br>
                <a href="#/following">Following&nbsp;<span class="badge">{{vm.user.followingcount}}</span></a>            
                <a href="#/followers">Followers&nbsp;<span class="badge">{{vm.user.followercount}}</span></a>
                <hr>
                <textarea type="text" id="message" class="form-control" rows="4"
                  ng-model="vm.message" ng-maxlength="140" ng-required="true" />
            </div>
            <p class="text-right">
                <button type="submit" class="btn btn-success btn-xs">&nbsp;post&nbsp;</button>
            </p>
        </form>

    </div>
    <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12" style="overflow-y: auto;">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <post ng-repeat="item in vm.posts" post="item" logged="true"></post>

            </div>
          </div>

    </div>
</div>
