
<div class="jumbotron">
   <div class="container">
      <span style="float:left">
        <img class="img-responsive" src="images/bird_yellow.png" width="150px" height="150px">
      </span>
      <span>
        <h1>Chirp</h1>
        <p>The social engine <a href="https://github.com/antdimot/chirp">open source</a>.</p>
      </span>
   </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" ng-repeat="item in vm.posts">

    <div class="panel panel-{{item.panelcolor}}">
      <div class="panel-heading">
        <b><a style="color:{{item.textcolor}}" href="#/info/{{item.username}}">{{item.displayname}}</a></b>
        <small>{{item.timestamp | date:'MM/dd/yyyy @ h:mma' }}</small>
      </div>
      <div class="panel-body">
        <span style="float:left">
          <img class="img-rounded" ng-src="{{item.imagepath}}" width="55px" height="55px">&nbsp;
        </span>
        <span>
          <div ng-bind-html="item.text"></div>
        </span>
      </div>
    <div>

  </div>
</div>
