<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/public">
                <p class="lead"><b>Chirp</b></p>
            </a>
        </div>
        <p class="navbar-text navbar-right">
            <span ng-show="islogged">
                <a href="#/home">{{displayname}}</a>
            </span>&nbsp;&nbsp;
            <a class="btn btn-default" href="#/login" role="button" ng-show="!islogged">sign in</a>
            <a class="btn btn-default" ng-click="logout()" role="button" ng-show="islogged">sign out</a>
        </p>
    </div>
</nav>
