<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Chirp
            </a>
        </div>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="username" id="username">
                <input type="password" class="form-control" placeholder="password" id="password">
            </div>
            <button type="submit" class="btn btn-default">Sign in</button>
        </form>
    </div>
</nav>
