<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Chirp
            </a>
        </div>
        <form class="navbar-form navbar-right" method="post" ng-model="loginform" ng-controller="publicCtrl">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="username" ng-model="loginform.username">
                <input type="password" class="form-control" placeholder="password" ng-model="loginform.password">
            </div>
            <button ng-click="authenticate()" class="btn btn-default">Sign in</button>
        </form>
    </div>
</nav>
