<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Chirp
            </a>
        </div>
        <form class="navbar-form navbar-right" method="post" name="loginForm" ng-controller="publicCtrl">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="username" ng-model="user.username" ng-required="true">
                <input type="password" class="form-control" placeholder="password" ng-model="user.password" ng-required="true">
            </div>
            <button ng-click="authenticate(user)" class="btn btn-default navbar-btn" ng-disabled="loginForm.$invalid">Sign in</button>
        </form>
    </div>
</nav>
